<div>
  <header> NJ Basketball Fan Camp</header>
  </div>
    <h1> Welcome Hooper! </h1>
<div class="content">
      <h2> Welcome to Sinatra Template</h2>
      
<br> <br/>
<div class="container">

    <form method="POST" action="/login">
      Username: <input type=text name="username">

      Password: <input type=password name="password">

      <input type=submit>

    </form>
    </div>

    <%# <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <%# <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <%# <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <%# <li><b>Port:</b> <%= @env["SERVER_PORT"]</li> %> 
      <%# </ul> %>
    <%# </div> %> 

  </div>
</div>
